<h1>Retrouve tout les évènements ici</h1>

<div class="center jumbotron">
<table>
  <tr>
    <th>Evènements</th>
    <th>Créateur</th>
  </tr>

<% @events.each do |event| %>
<tr>
      <td><%= link_to event.description, event_path(event.id) %></td>
      <td>Créé par <%= event.creator.name%></td>
   
</tr>
<%end%>
</table>


<p>tu peux créer ton propre évènement <br/><%= link_to "C'est partit", new_event_path, class: "btn btn-lg btn-primary" %></p>
</div>